<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head> -->

{%extends "tasks/layout.html" %}

{%block body%}
<body>
    <ul>
        {% for task in tasks%}
        <li>{{ task }}</li>

        {% empty %}
            <li>No Task</li>

        {% endfor %}
    </ul>

    <!-- <a href = "/tasks/add.html">Add a new task</a> without Django -->
    <a href = "{% url 'tasks:add' %}" >add new task</a> <!-- name is from urls.py file-->
{%endblock%}
<!-- </body>
</html> -->