{% extends "users/layout.html" %}

{% block body %}

<!-- need to show this message in if function, because it only comes if auth is failed -->

{% if message %}
<div>{{ message }}</div>
{% endif %}


<form action = "{% url 'login' %}" method = 'post'>  <!-- method is post, because get method will 
    show password and username in the link,
     but post get it as value in order to authenticate or save to db-->
    {% csrf_token %}
    <input type = "text" name = "username" placeholder="Username">
    <input type = "password" name = "password" placeholder="Password">
    <input type ="submit" value="Login"> 
</form>

{% endblock %}
