<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page 2</title>
</head>

<script>

    // for the history of the browser 
    // when I go back to the history : event from the history
    window.onpopstate = function(event) {
        // what state stored
        console.log(event.state.section);
        // showing section for the backward operation
        showSection(event.state.section)
    } 


    function showSection(section) {

        // if you ll put "/" front of the link it will start from beginning,
        // if you ll not put it [/], it ll start where it has left, so it ll start from ip/sp2/{}
        fetch(`section/${section}`)
        .then (response => response.text())
        .then (text => {
            console.log(text);
            document.querySelector('#content').innerHTML = text
        })

    } 

    document.addEventListener('DOMContentLoaded', function(){

        document.querySelectorAll('button').forEach( button => {
            button.onclick = function() {

                // in order to store history for the back button in the browser
                const section = this.dataset.section
                //add new element to browsing: 1.section number to take, 2.title number most browsers ignore, 3.url for the back button 
                history.pushState({section: section}, "",`section${section}` );
                showSection(section)
            }
        })

    })

</script>



<body>
    
 <h1> Sections to Read </h1>
<button data-section = '1'>Section 1</button>
<button data-section = '2'>Section 2</button>
<button data-section = '3'>Section 3</button>

<div id = "content"></div>
</body>
</html>